<%= turbo_frame_tag dom_id(event) do %>
  <li data-controller="time-formatter" class="flex col-span-1 bg-white rounded-lg shadow">
    <div class="w-full flex items-center justify-between p-6 space-x-6">
    <a href=<%= url_for(event) %> class="">
      <div class="flex-1 truncate">
        <div class="flex items-center space-x-3">
          <h3 class="text-gray-900 text-sm font-medium truncate"><%= event.title %></h3>
        </div>
        <p data-time-formatter-target="datetime" class="mt-1 text-gray-500 text-sm truncate"><%= event.start_time.to_formatted_s(:iso8601) %></p>
        <p class="mt-1 text-gray-500 text-sm truncate"><%= event.description %></p>
      </div>
    </a>
      <div class="space-y-4">
        <%= button_to "Edit", edit_event_path(event), method: :get, class: "relative flex-shrink-0 h-8 w-20 items-center border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
        <%= button_to "Delete", event_path(event), method: :delete, class: "relative flex-shink-0 h-8 w-20 items-center border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500" %>
        <%= button_to "RSVP", registrations_path, method: :post, params: { registration: { event_id: event.id, user_id: User.last&.id } },
          class: "relative flex-shink-0 h-8 w-20 items-center border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500" %>
      </div>
    </div>
  </li>
<% end %>
