<div id="<%= dom_id event %>" class="scaffold_record">
  <p>
    <strong>Title:</strong>
    <%= event.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= event.description %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= event.start_time %>
  </p>

  <p>
    <%= link_to "Show this event", event %>
  </p>
</div>
